aiocron==1.3
aiohttp==3.6.3
async-timeout==3.0.1
attrs==20.2.0
chardet==3.0.4
croniter==0.3.35
discord.py==1.5.0
idna==2.10
multidict==4.7.6
natsort==7.0.1
PyMySQL==0.10.1
python-dateutil==2.8.1
pytz==2020.4
six==1.15.0
typing-extensions==3.7.4.3
tzlocal==2.1
yarl==1.5.1
